.body {
    padding: 0;
    margin: 0;
    margin: 0 auto;
    width: 20%;
}

.form {
    margin-top: 100%;
}

.usernameInput {
    margin-bottom: 30px;
}

.button {
    margin: 0 auto;
    width: 30%;
    margin-top: 30px;
}