.navbar {
    background-color: rgb(34, 139, 230);
    top: 0;
    left: 0;
}

.navlink {
    padding: 20px;
}

.navlink:hover {
    background-color: rgba(67, 156, 234, 1);
}

.navbar {
    position: fixed;
    left: 0;
    height: 100vh;
    width: 5%;
}